.modal-container {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    scale: 1;
    transition: 250ms;
    padding: 15px 20px;
    border-radius: 10px;
    min-width: 12%;
    min-height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container--closed {
    scale: 0.3;
    translate: -50% -100%;
}